In [1]:
# mutindexing and index hierarchy
import numpy as np
import pandas as pd

In [2]:
# Index Levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
df = pd.DataFrame(np.random.randn(6, 2), hier_index, ['A', 'B'])

In [7]:
df

             A         B
G1 1 -0.565280  0.516552
   2 -0.859564  0.790891
   3  0.833683  1.380719
G2 1 -1.710981 -0.771664
   2  0.477134  0.856008
   3  0.728807 -0.791457

In [8]:
df.loc['G1']

          A         B
1 -0.565280  0.516552
2 -0.859564  0.790891
3  0.833683  1.380719

In [9]:
df.loc['G1'].loc[1]

A   -0.565280
B    0.516552
Name: 1, dtype: float64

In [10]:
df.index.names

FrozenList([None, None])

In [11]:
df.index.names = ['Groups', 'Num']

In [12]:
df

                   A         B
Groups Num
G1     1   -0.565280  0.516552
       2   -0.859564  0.790891
       3    0.833683  1.380719
G2     1   -1.710981 -0.771664
       2    0.477134  0.856008
       3    0.728807 -0.791457

In [14]:
# Grabbing info
df.loc['G2'].loc[2]['B']

0.8560081198557331

In [15]:
df.loc['G1'].loc[2]['A']

-0.859563649679516

In [16]:
# crossection of rows or columns from a series of df
df

                   A         B
Groups Num
G1     1   -0.565280  0.516552
       2   -0.859564  0.790891
       3    0.833683  1.380719
G2     1   -1.710981 -0.771664
       2    0.477134  0.856008
       3    0.728807 -0.791457

In [18]:
# it has the ability to skip or go inside a multilevel indexing
df.xs(1, level='Num')

               A         B
Groups
G1     -0.565280  0.516552
G2     -1.710981 -0.771664