In [1]:
import numpy as np
import pandas as pd

In [3]:
# Index Levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [7]:
df = pd.DataFrame(np.random.randn(6, 2), hier_index, ['A', 'B'])

In [8]:
df

             A         B
G1 1  0.908943  0.742894
   2  0.989679 -1.520498
   3 -0.772514 -0.380410
G2 1  0.049331  0.689023
   2  1.380530  0.387413
   3  1.250785 -0.068944

In [9]:
# Multilevel Indexing

In [10]:
df.loc['G1']

          A         B
1  0.908943  0.742894
2  0.989679 -1.520498
3 -0.772514 -0.380410

In [11]:
df.loc['G1'].loc[1]

A    0.908943
B    0.742894
Name: 1, dtype: float64

In [13]:
df.index.names = ['Groups', 'Num'] # giving names to index columns

In [14]:
df

                   A         B
Groups Num
G1     1    0.908943  0.742894
       2    0.989679 -1.520498
       3   -0.772514 -0.380410
G2     1    0.049331  0.689023
       2    1.380530  0.387413
       3    1.250785 -0.068944

In [18]:
df.loc['G2'].loc[2]['B']

0.38741344571659236

In [19]:
df.xs('G1') # crossection function has a ability to go inside the multilevel indexing

            A         B
Num
1    0.908943  0.742894
2    0.989679 -1.520498
3   -0.772514 -0.380410

In [20]:
df.xs(1, level='Num') # both groups where Num column is 1

               A         B
Groups
G1      0.908943  0.742894
G2      0.049331  0.689023