In [1]:
# Welcome to a quick exercise for you to practice your pandas skills! 
# We will be using the SF Salaries Dataset from Kaggle! 
# Just follow along and complete the tasks outlined in bold below. 
# The tasks will get harder and harder as you go along.

In [18]:
# Import pandas as pd.
import pandas as pd

In [7]:
# Read Salaries.csv as a dataframe called sal.
sal = pd.read_csv('Salaries.csv')

In [8]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [9]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148049 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            112495 non-null object
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [22]:
# What is the average BasePay ?
sal['BasePay'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [29]:
# What is the highest amount of OvertimePay in the dataset ?
sal['OvertimePay'].max()

TypeError: '>=' not supported between instances of 'float' and 'str'

In [31]:
# What is the job title of JOSEPH DRISCOLL ? 
# Note: Use all caps, otherwise you may get an answer that doesn't match up 
# (there is also a lowercase Joseph Driscoll).
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [32]:
# How much does JOSEPH DRISCOLL make (including benefits)?
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPay']

24    270324.91
Name: TotalPay, dtype: float64

In [34]:
# What is the name of highest paid person (including benefits)?
max_pay = sal['TotalPay'].max()
sal[sal['TotalPay'] == max_pay]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object