In [1]:
# Lists are ordered sequences that can hold a variety of object types
# Lists support indexing, reverse indexing and slicing
# They have variety of useful methods

In [2]:
my_list = [1, 2, 3]

In [3]:
my_list = ['STRING', 100, 32.2] # can hold multiple data types

In [4]:
len(my_list) # to check number of elements in a list

3

In [5]:
# Indexing
mylist = ['one', 'two', 'three']

In [6]:
mylist[0]

'one'

In [7]:
# reverse indexing
mylist[-1]

'three'

In [8]:
# Slicing
mylist[1:]

['two', 'three']

In [9]:
mylist[::2]

['one', 'three']

In [10]:
mylist[::-1] # like strings, lists can also be reversed with this trick

['three', 'two', 'one']

In [11]:
mylist

['one', 'two', 'three']

In [12]:
# list concatination
another_list = ['four', 'five']

In [13]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [14]:
mylist

['one', 'two', 'three']

In [15]:
another_list

['four', 'five']

In [16]:
new_list = mylist + another_list

In [17]:
new_list

['one', 'two', 'three', 'four', 'five']

In [18]:
# list mutation
new_list[0] = 'ONE ALL CAPS'

In [19]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [20]:
# adding at the end
new_list.append('six') # inplace

In [21]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [22]:
new_list.append('seven')

In [23]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [24]:
# removing elements
new_list.pop() # remove last element inplace

'seven'

In [25]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [26]:
popped_item = new_list.pop()

In [27]:
popped_item

'six'

In [28]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [29]:
# removing from a specific index
new_list.pop(0) # pass the index inside the pop function

'ONE ALL CAPS'

In [30]:
new_list

['two', 'three', 'four', 'five']

In [31]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4,1,8,3]

In [32]:
# sorting a list
new_list.sort() # inplace (does not return anything)

In [33]:
new_list

['a', 'b', 'c', 'e', 'x']

In [34]:
my_sorted_list = new_list.sort()

In [35]:
my_sorted_list

In [36]:
type(my_sorted_list)

NoneType

In [37]:
num_list

[4, 1, 8, 3]

In [38]:
num_list.sort()

In [39]:
sorted_list = num_list

In [40]:
sorted_list

[1, 3, 4, 8]

In [41]:
# reversing a list
num_list

[1, 3, 4, 8]

In [42]:
num_list.reverse() # inplace , does not return anything

In [43]:
num_list

[8, 4, 3, 1]

In [44]:
# append, pop, sort, reverse